#menu{
	position: relative;
	margin: 0 auto;
	background-color: #CBE8BA;
	border-radius: 5px;
	transition: height .3s, width .3s, top .3s;
}

.menuItems{
	transition: opacity .1s;
}

/* Start menu stuff */

.startActive{
	height: 180px;
	width: 250px;
	top: 200px;
}

#startMenuItems{
	opacity: 1;
	display: inline;
}

#newGame{
	width: 135px;
	position: absolute;
	margin: 0 auto;
	top: 30px;
	left: calc((100% - 135px)/2);
}

#newGameButt{
	padding: 15px 15px;
	height: 60px;
}

#settings{
	position: absolute;
	top: 110px;
	left: 15px;
}

#settingsButt{
	width: 100px;
}

#howToPlay{
	position: absolute;
	top: 110px;
	left: 125px;
}

#copyright{
	position: absolute;
	top: 150px;
	left: 75px;
	color: #666666;
	font-size: 12px;
}

/* Settings menu stuff */

.settingsActive{
	height: 400px;
	width: 270px;
	top: 100px;
}

#settingsMenuItems{
	position: absolute;
	top: 0px;
	left: 15px;
	opacity: 0;
	display: none;
}

.options{
	position: relative;
	top: 0px;
	left: 10px;
	float: left;
}

.tooltip{
	position: relative;
	width: 15px;
	top: 0px;
	left: 30px;
	float: left;
}

.tooltiptext{
	position: absolute;
    width: 200px;
    top: 0px;
    left: 50px;
    background-color: #444444;
    color: #AAAAAA;
    padding: 7px 7px 7px 7px;
    border-radius: 6px;

    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* This is the arrow thing */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #444444 transparent transparent;
}

#settingsBack{
	position: relative;
	top: 20px;
}

/* How To menu stuff */

.howToActive{
	height: 500px;
	width: 400px;
	top: 50px;
}

#howToMenuItems{
	position: absolute;
	top: 10px;
	left: 15px;
	opacity: 0;
	display: none;
}

#textDiv{
	width: 330px;
	height: 430px;
	overflow: scroll;
	padding: 0px 20px;
	background-color: #E1F1E1;
	border-radius: 2px;
}

#howToBack{
	position: relative;
	top: 10px;
}
