#gameSpace{
	height: 600px;
	width: 900px;
	/* this can make us scale with page size
	height: 60vw;
	width: 90vw;
	max-height: 90vh;
	max-width: 135vh;*/
	background-color: #004000;
	position: relative;
	margin: 0 auto; /* centers stuff */
}

/* CARDS */
/* card dimensions are height:96 width:72. 1px between cards*/

.card{
	height: 96px;
	width: 72px;
	position: absolute;

	-webkit-animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-transition-timing-function: ease-in-out;
}

.moveSouth{
	-webkit-animation-name: moveSouth;
}

.moveWest{
	-webkit-animation-name: moveWest;
}

.moveNorth{
	-webkit-animation-name: moveNorth;
}

.moveEast{
	-webkit-animation-name: moveEast;
}

.dealerSouth{
	top: 350;
	left: 250;
}

.dealerWest{
	top: 200;
	left: 100;
}

.dealerNorth{
	top: 100;
	left: 200;
}

.dealerEast{
	top: 200;
	left: 300;
}

@-webkit-keyframes moveSouth{
	from {}
	to { top: 450; left: 350;}
}

@-webkit-keyframes moveWest{
	from {}
	to { top: 250; left: 50;}
}
@-webkit-keyframes moveNorth{
	from {}
	to { top: 50; left: 350; }
}
@-webkit-keyframes moveEast{
	from {}
	to { top: 250; left: 700;}
}

.cardBack{
	background: url('cardBack.png') !important;
}

#CA{
	background: url('cards.png') -1px -1px;
}

#CK{
	background: url('cards.png') -877px -1px;
}

#CQ{
	background: url('cards.png') -804px -1px;
}

#CJ{
	background: url('cards.png') -731px -1px;
}

#C10{
	background: url('cards.png') -658px -1px;
}

#C9{
	background: url('cards.png') -585px -1px;
}

#SA{
	background: url('cards.png') -1px -99px;
}

#SK{
	background: url('cards.png') -877px -99px;
}

#SQ{
	background: url('cards.png') -804px -99px;
}

#SJ{
	background: url('cards.png') -731px -99px;
}

#S10{
	background: url('cards.png') -658px -99px;
}

#S9{
	background: url('cards.png') -585px -99px;
}

#HA{
	background: url('cards.png') -1px -197px;
}

#HK{
	background: url('cards.png') -877px -197px;
}

#HQ{
	background: url('cards.png') -804px -197px;
}

#HJ{
	background: url('cards.png') -731px -197px;
}

#H10{
	background: url('cards.png') -658px -197px;
}

#H9{
	background: url('cards.png') -585px -197px;
}

#DA{
	background: url('cards.png') -1px -295px;
}

#DK{
	background: url('cards.png') -877px -295px;
}

#DQ{
	background: url('cards.png') -804px -295px;
}

#DJ{
	background: url('cards.png') -731px -295px;
}

#D10{
	background: url('cards.png') -658px -295px;
}

#D9{
	background: url('cards.png') -585px -295px;
}
