button {
	background-color: #CCCCCC;
	color: black;
	border: 2px solid #999999;
	border-radius: 5px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
}

table {
	font-size: inherit;
}

.gray {
	color: #888888;
}

#everything {
	height: 600px;
	width: 1000px;
	position: relative;
	margin: 0 auto; /* centers stuff */
	font-family: Arial;
	font-size: 14px;
}

#gameSpace {
	height: 600px;
	width: 800px;
	/* this can make us scale with page size
	height: 60vw;
	width: 90vw;
	max-height: 90vh;
	max-width: 135vh;*/
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #4C7A34;
}

#sidebar {
	height: 600px;
	width: 200px;
	position: absolute;
	top: 0px;
	left: 800px;
	background-color: #555555;
}

#sidebarTop {
	height: 80px;
	background-color: #CBE8BA;
	padding-left: 5px;
}

#sidebarText {
	position: relative;
	height: 518px;
	top: 2px;
	background-color: #CBE8BA;
	padding-left: 5px;
	overflow: auto;
}

#orderUpPrompt {
	width: 100px;
	height: 110px;
	position: absolute;
	left: 80%;
	top: 70%;
	z-index: 9001;
	display: none;
}

#orderUpPrompt,
#orderUp,
#pickSpades,
#pickClubs,
#pickHearts,
#pickDiamonds {
	display: none;
}

#dealerButton {
	background: url('../Images/dealerButton.png');
	background-size: contain;
	height: 50px;
	width: 50px;
	position: absolute;
}

#blanket {
	height: 600px;
	width: 800px;
	position: absolute;
	margin: 0 auto; /* centers stuff */
	z-index: 9000;
	display: none;
}

/* CARDS */
/* card dimensions are height:96 width:72. 1px between cards*/

.card {
	height: 96px;
	width: 72px;
	position: absolute;
	top: 252px; /* (600/2)-(96/2) */
	left: 364px;
	transition: top .3s, left .3s;
}

.cardBack {
	background: url('../Images/cardBack.png') !important;
}

#Clubs14 {
	background: url('../Images/cards.png') -1px -1px;
}

#Clubs13 {
	background: url('../Images/cards.png') -877px -1px;
}

#Clubs12 {
	background: url('../Images/cards.png') -804px -1px;
}

#Clubs11 {
	background: url('../Images/cards.png') -731px -1px;
}

#Clubs10 {
	background: url('../Images/cards.png') -658px -1px;
}

#Clubs9 {
	background: url('../Images/cards.png') -585px -1px;
}

#Diamonds14 {
	background: url('../Images/cards.png') -1px -295px;
}

#Diamonds13 {
	background: url('../Images/cards.png') -877px -295px;
}

#Diamonds12 {
	background: url('../Images/cards.png') -804px -295px;
}

#Diamonds11 {
	background: url('../Images/cards.png') -731px -295px;
}

#Diamonds10 {
	background: url('../Images/cards.png') -658px -295px;
}

#Diamonds9 {
	background: url('../Images/cards.png') -585px -295px;
}

#Hearts14 {
	background: url('../Images/cards.png') -1px -197px;
}

#Hearts13 {
	background: url('../Images/cards.png') -877px -197px;
}

#Hearts12 {
	background: url('../Images/cards.png') -804px -197px;
}

#Hearts11 {
	background: url('../Images/cards.png') -731px -197px;
}

#Hearts10 {
	background: url('../Images/cards.png') -658px -197px;
}

#Hearts9 {
	background: url('../Images/cards.png') -585px -197px;
}

#Spades14 {
	background: url('../Images/cards.png') -1px -99px;
}

#Spades13 {
	background: url('../Images/cards.png') -877px -99px;
}

#Spades12 {
	background: url('../Images/cards.png') -804px -99px;
}

#Spades11 {
	background: url('../Images/cards.png') -731px -99px;
}

#Spades10 {
	background: url('../Images/cards.png') -658px -99px;
}

#Spades9 {
	background: url('../Images/cards.png') -585px -99px;
}
